<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                
                <a class="nav-link" href="/Kategori/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Kategoriler
                </a>
                <br />
                <a class="nav-link" href="/Kitap/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Kitap
                </a>
                <br />
                <a class="nav-link" href="/Kitap/CreateKitap/">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Kitap Ekle
                </a>
                <br />
                <a class="nav-link" href="/Personel/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Personel
                </a>
                <br />
                <a class="nav-link" href="/Uye/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Üyeler
                </a>
                <br />
                <a class="nav-link" href="/OduncIslem/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Kitap Ödünç Verme
                </a>
                <br />
                <a class="nav-link" href="/Login/GirisYap/">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Çıkış Yap
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
           UCY Kütüphane
        </div>
    </nav>
</div>
