@model Personel
@{
    ViewData["Title"] = "CreatePersonel";
    Layout = "~/Views/Default/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Personel</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Personel Ekleme Sayfası</div>
					</div>
					<div class="card-body">
						<form method="post">
							<label> Adı</label>
							<input type="text" asp-for="AdSoyad" class="form-control" />
							<br />
							<label> Pozisyon</label>
							<input type="text" asp-for="Pozisyon" class="form-control" />
							<br />
							<label> Telefon</label>
							<input type="text" asp-for="Telefon" class="form-control" />
							<br />
							<label> Email</label>
							<input type="text" asp-for="Email" class="form-control" />
							<br />
							<label> İşe Başlama Tarihi</label>
							<input type="datetime" asp-for="BaslamaTarihi" class="form-control" />
							<br />




							<button class="btn btn-primary">Personel Ekle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

